[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml-balloon-game
Exec=/usr/bin/single-instance /opt/qml-balloon-game/bin/qml-balloon-game
Icon=/usr/share/icons/hicolor/80x80/apps/qml-balloon-game80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
